@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
/* ==========================================================================
   Foundation for Embedded Forms
   ========================================================================== */
/* Links
   ================================== */
#submgmt a:link, #submgmt a:visited {
  color: #c82727; }

#submgmt a:hover, #submgmt a:focus {
  color: rgba(200, 39, 39, 0.6); }

#submgmt a:link,
#submgmt a:visited,
#submgmt a:hover,
#submgmt a:focus {
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  text-decoration: underline; }

/* Foundation Form
   ================================== */
#eloqua-form label {
  display: block;
  font-size: 0.875rem;
  line-height: 1.5; }

#submgmt textarea {
  height: auto; }

#submgmt select,
#submgmt input[type="text"],
#submgmt textarea {
  max-width: 100%;
  /* Prevent resize out of parent */
  width: 100%; }

#submgmt input[type="text"],
#submgmt select, #submgmt textarea {
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

/* Respect enforced amount of rows for textarea */
#submgmt textarea[rows] {
  height: auto; }

#submgmt select::-ms-expand {
  display: none; }

/* Form Header Fonts
   ================================== */
#eloqua-form {
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25em; }

#eloqua-form h3 {
  border-bottom: 1px dashed #aaaaaa;
  color: #444444;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.17em;
  font-weight: 700;
  margin-top: 25px;
  padding-bottom: 5px;
  text-align: center; }

#eloqua-form h4 {
  color: #444444;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.12em;
  font-size: 18px !important;
  font-weight: 700;
  text-align: center; }

/* Interstitial
   ================================== */
#view-full-screen {
  padding-top: 10px; }

/* Show/Hide Form Fields
   ================================== */
#submgmt .hide {
  display: none; }

#submgmt .show {
  display: visible; }

/* Labels
   ================================== */
/* Clear Foundation Margins */
#submgmt input[type="checkbox"],
#submgmt input[type="color"],
#submgmt input[type="date"],
#submgmt input[type="datetime"],
#submgmt input[type="datetime-local"],
#submgmt input[type="email"],
#submgmt input[type="file"],
#submgmt input[type="month"],
#submgmt input[type="number"],
#submgmt input[type="password"],
#submgmt input[type="radio"],
#submgmt input[type="search"],
#submgmt input[type="tel"],
#submgmt input[type="text"],
#submgmt input[type="time"],
#submgmt input[type="url"],
#submgmt input[type="week"],
#submgmt textarea,
#submgmt select {
  margin: 0px; }

#submgmt label {
  cursor: auto;
  font-weight: 600;
  margin: 20px 0px 0px; }

#submgmt label.instructions {
  display: block;
  font-weight: 400;
  font-size: 75%;
  margin: 0px;
  padding: 0px; }

#submgmt label.optional {
  display: inline;
  font-weight: 400;
  font-size: 75%;
  margin: 0px;
  padding: 0px; }

#submgmt label.checkbox-single, #submgmt label.checkbox-multiple {
  margin: 0px;
  padding: 10px 15px 5px 15px; }

#submgmt .checkbox-option {
  font-weight: 400;
  cursor: pointer; }

/* Fields
   ================================== */
#submgmt input[type="text"],
#submgmt select, #submgmt textarea {
  padding: 0.1rem 0.5rem 0rem;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px 1px 1px 6px;
  box-shadow: none;
  background-color: #ffffff;
  height: 30px;
  /*2.3125 */
  font-size: 13px; }

#submgmt textarea {
  min-height: 100px; }

#submgmt input[type="text"]:focus,
#submgmt textarea:focus {
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
  background-color: #ffffff; }

/* Submit Button
   ================================== */
#submgmt input[type="submit"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  background-color: #e09616;
  border-color: #ce711e;
  border-style: solid;
  border-width: 0px 0px 2px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: 700;
  margin: 20px 0px;
  padding: 15px 10px;
  white-space: normal;
  width: 100%;
  word-break: normal;
  word-wrap: break-word; }

#submgmt input[type=submit]:hover, #submgmt input[type=submit]:focus {
  background-color: #e08316;
  cursor: pointer; }

/* Legal Statement
   ================================== */
#privacy-statement {
  text-align: justify !important;
  font-size: 11px; }

#submgmt #privacy-statement .LV_invalid {
  color: #CC0000;
  display: inline !important;
  /* Reset styling for Legal Statement */
  font-size: 0.825em !important;
  margin-left: 0%;
  /* Reset styling for Legal Statement */
  padding-left: 0px;
  /* Reset styling for Legal Statement */ }

#submgmt #privacy-statement-checkbox {
  clear: both;
  display: inline;
  margin-right: 5px; }

#submgmt #legalCheckbox {
  margin: 0px 5px 0px 0px; }

/* Form Validation
   ================================== */
#submgmt .LV_invalid {
  color: #CC0000;
  display: block;
  /* Push validation message under form input */
  font-size: 0.625em;
  font-weight: bold;
  margin-left: 0%;
  /* Match indent for form inputs */
  padding-left: 0px;
  /* Match indent for form inputs */ }

#submgmt .LV_valid {
  color: #00CC00;
  display: none; }

#submgmt .LV_validation_message {
  font-family: Arial, sans-serif; }

#submgmt .LV_valid_field, #submgmt .LV_invalid_field {
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important; }

#submgmt .LV_valid_field,
input.LV_valid_field:hover,
input.LV_valid_field:active,
textarea.LV_valid_field:hover,
textarea.LV_valid_field:active {
  border-left: 6px solid #00CC00 !important; }

#submgmt .LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border-left: 6px solid #CC0000 !important; }

/* Foundation Grid for #submgmt
//================================== */
@media only screen {
  #submgmt .small-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  #submgmt .small-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  #submgmt .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  #submgmt .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  #submgmt .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  #submgmt .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  #submgmt .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  #submgmt .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  #submgmt .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  #submgmt .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  #submgmt .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  #submgmt .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  #submgmt .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  #submgmt .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  #submgmt .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  #submgmt .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  #submgmt .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  #submgmt .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  #submgmt .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  #submgmt .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  #submgmt .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  #submgmt .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  #submgmt .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  #submgmt .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  #submgmt .column,
  #submgmt .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  #submgmt .small-1 {
    width: 8.33333%; }

  #submgmt .small-2 {
    width: 16.66667%; }

  #submgmt .small-3 {
    width: 25%; }

  #submgmt .small-4 {
    width: 33.33333%; }

  #submgmt .small-5 {
    width: 41.66667%; }

  #submgmt .small-6 {
    width: 50%; }

  #submgmt .small-7 {
    width: 58.33333%; }

  #submgmt .small-8 {
    width: 66.66667%; }

  #submgmt .small-9 {
    width: 75%; }

  #submgmt .small-10 {
    width: 83.33333%; }

  #submgmt .small-11 {
    width: 91.66667%; }

  #submgmt .small-12 {
    width: 100%; }

  #submgmt .small-offset-0 {
    margin-left: 0% !important; }

  #submgmt .small-offset-1 {
    margin-left: 8.33333% !important; }

  #submgmt .small-offset-2 {
    margin-left: 16.66667% !important; }

  #submgmt .small-offset-3 {
    margin-left: 25% !important; }

  #submgmt .small-offset-4 {
    margin-left: 33.33333% !important; }

  #submgmt .small-offset-5 {
    margin-left: 41.66667% !important; }

  #submgmt .small-offset-6 {
    margin-left: 50% !important; }

  #submgmt .small-offset-7 {
    margin-left: 58.33333% !important; }

  #submgmt .small-offset-8 {
    margin-left: 66.66667% !important; }

  #submgmt .small-offset-9 {
    margin-left: 75% !important; }

  #submgmt .small-offset-10 {
    margin-left: 83.33333% !important; }

  #submgmt .small-offset-11 {
    margin-left: 91.66667% !important; }

  #submgmt .small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  #submgmt .column.small-centered,
  #submgmt .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  #submgmt column.small-uncentered,
  #submgmt .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  #submgmt .column.small-centered:last-child,
  #submgmt .columns.small-centered:last-child {
    float: none; }

  #submgmt .column.small-uncentered:last-child,
  #submgmt .columns.small-uncentered:last-child {
    float: left; }

  #submgmt .column.small-uncentered.opposite,
  #submgmt .columns.small-uncentered.opposite {
    float: right; } }
@media only screen and (min-width: 40.063em) {
  #submgmt .medium-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  #submgmt .medium-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  #submgmt .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  #submgmt .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  #submgmt .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  #submgmt .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  #submgmt .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  #submgmt .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  #submgmt .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  #submgmt .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  #submgmt .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  #submgmt .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  #submgmt .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  #submgmt .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  #submgmt .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  #submgmt .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  #submgmt .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  #submgmt .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  #submgmt .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  #submgmt .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  #submgmt .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  #submgmt .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  #submgmt .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  #submgmt .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  #submgmt .column,
  #submgmt .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  #submgmt .medium-1 {
    width: 8.33333%; }

  #submgmt .medium-2 {
    width: 16.66667%; }

  #submgmt .medium-3 {
    width: 25%; }

  #submgmt .medium-4 {
    width: 33.33333%; }

  #submgmt .medium-5 {
    width: 41.66667%; }

  #submgmt .medium-6 {
    width: 50%; }

  #submgmt .medium-7 {
    width: 58.33333%; }

  #submgmt .medium-8 {
    width: 66.66667%; }

  #submgmt .medium-9 {
    width: 75%; }

  #submgmt .medium-10 {
    width: 83.33333%; }

  #submgmt .medium-11 {
    width: 91.66667%; }

  #submgmt .medium-12 {
    width: 100%; }

  #submgmt .medium-offset-0 {
    margin-left: 0% !important; }

  #submgmt .medium-offset-1 {
    margin-left: 8.33333% !important; }

  #submgmt .medium-offset-2 {
    margin-left: 16.66667% !important; }

  #submgmt .medium-offset-3 {
    margin-left: 25% !important; }

  #submgmt .medium-offset-4 {
    margin-left: 33.33333% !important; }

  #submgmt .medium-offset-5 {
    margin-left: 41.66667% !important; }

  #submgmt .medium-offset-6 {
    margin-left: 50% !important; }

  #submgmt .medium-offset-7 {
    margin-left: 58.33333% !important; }

  #submgmt .medium-offset-8 {
    margin-left: 66.66667% !important; }

  #submgmt .medium-offset-9 {
    margin-left: 75% !important; }

  #submgmt .medium-offset-10 {
    margin-left: 83.33333% !important; }

  #submgmt .medium-offset-11 {
    margin-left: 91.66667% !important; }

  #submgmt .medium-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  #submgmt .column.medium-centered,
  #submgmt .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  #submgmt .column.medium-uncentered,
  #submgmt .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  #submgmt .column.medium-centered:last-child,
  #submgmt .columns.medium-centered:last-child {
    float: none; }

  #submgmt .column.medium-uncentered:last-child,
  #submgmt .columns.medium-uncentered:last-child {
    float: left; }

  #submgmt .column.medium-uncentered.opposite,
  #submgmt .columns.medium-uncentered.opposite {
    float: right; }

  #submgmt .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  #submgmt .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  #submgmt .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  #submgmt .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  #submgmt .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  #submgmt .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  #submgmt .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  #submgmt .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  #submgmt .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  #submgmt .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  #submgmt .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  #submgmt .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  #submgmt .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  #submgmt .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  #submgmt .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  #submgmt .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  #submgmt .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  #submgmt .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  #submgmt .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  #submgmt .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  #submgmt .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  #submgmt .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  #submgmt .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  #submgmt .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.063em) {
  #submgmt .large-push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  #submgmt .large-pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  #submgmt .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  #submgmt .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  #submgmt .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  #submgmt .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  #submgmt .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  #submgmt .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  #submgmt .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  #submgmt .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  #submgmt .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  #submgmt .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  #submgmt .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  #submgmt .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  #submgmt .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  #submgmt .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  #submgmt .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  #submgmt .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  #submgmt .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  #submgmt .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  #submgmt .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  #submgmt .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  #submgmt .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  #submgmt .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  #submgmt .column,
  #submgmt .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  #submgmt .large-1 {
    width: 8.33333%; }

  #submgmt .large-2 {
    width: 16.66667%; }

  #submgmt .large-3 {
    width: 25%; }

  #submgmt .large-4 {
    width: 33.33333%; }

  #submgmt .large-5 {
    width: 41.66667%; }

  #submgmt .large-6 {
    width: 50%; }

  #submgmt .large-7 {
    width: 58.33333%; }

  #submgmt .large-8 {
    width: 66.66667%; }

  #submgmt .large-9 {
    width: 75%; }

  #submgmt .large-10 {
    width: 83.33333%; }

  #submgmt .large-11 {
    width: 91.66667%; }

  #submgmt .large-12 {
    width: 100%; }

  #submgmt .large-offset-0 {
    margin-left: 0% !important; }

  #submgmt .large-offset-1 {
    margin-left: 8.33333% !important; }

  #submgmt .large-offset-2 {
    margin-left: 16.66667% !important; }

  #submgmt .large-offset-3 {
    margin-left: 25% !important; }

  #submgmt .large-offset-4 {
    margin-left: 33.33333% !important; }

  #submgmt .large-offset-5 {
    margin-left: 41.66667% !important; }

  #submgmt .large-offset-6 {
    margin-left: 50% !important; }

  #submgmt .large-offset-7 {
    margin-left: 58.33333% !important; }

  #submgmt .large-offset-8 {
    margin-left: 66.66667% !important; }

  #submgmt .large-offset-9 {
    margin-left: 75% !important; }

  #submgmt .large-offset-10 {
    margin-left: 83.33333% !important; }

  #submgmt .large-offset-11 {
    margin-left: 91.66667% !important; }

  #submgmt .large-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left; }

  #submgmt .column.large-centered,
  #submgmt .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  #submgmt .column.large-uncentered,
  #submgmt .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left; }

  #submgmt .column.large-centered:last-child,
  #submgmt .columns.large-centered:last-child {
    float: none; }

  #submgmt .column.large-uncentered:last-child,
  #submgmt .columns.large-uncentered:last-child {
    float: left; }

  #submgmt .column.large-uncentered.opposite,
  #submgmt .columns.large-uncentered.opposite {
    float: right; }

  #submgmt .push-0 {
    position: relative;
    left: 0%;
    right: auto; }

  #submgmt .pull-0 {
    position: relative;
    right: 0%;
    left: auto; }

  #submgmt .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  #submgmt .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  #submgmt .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  #submgmt .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  #submgmt .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  #submgmt .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  #submgmt .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  #submgmt .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  #submgmt .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  #submgmt .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  #submgmt .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  #submgmt .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  #submgmt .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  #submgmt .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  #submgmt .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  #submgmt .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  #submgmt .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  #submgmt .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  #submgmt .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  #submgmt .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  #submgmt .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  #submgmt .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
