// Set Brand Colors
// ================================== 
$brand-logo-width: $cis-brand-logo-width;
$brand-logo: $cis-brand-logo;

$color-brand-base: $cis-primary-base;
$color-form-submit-btn-base: $cis-primary-base;
$color-form-submit-btn-border: $cis-primary-border;
$color-form-submit-btn-hover: $cis-primary-hover;
$color-link: $cis-secondary-base;

$font-family-default: $cis-font-family-default;
$font-family-headline: $cis-font-family-headline;
$font-family-thin: $cis-font-family-thin;

$hero-background-image-large: $cis-hero-background-image-large;
$hero-background-image-medium: $cis-hero-background-image-medium;
$hero-background-image-small: $cis-hero-background-image-small; 

$page-heading-background-image-large: $ci-page-heading-background-image-large;
$page-heading-background-image-medium: $ci-page-heading-background-image-medium;
$page-heading-background-image-small: $ci-page-heading-background-image-small;