// Set Brand Colors
// ================================== 
$brand-logo-width: $npee-brand-logo-width;
$brand-logo: $npee-brand-logo;

$color-brand-base: $npee-primary-base;
$color-form-submit-btn-base: $npee-secondary-base;
$color-form-submit-btn-border: $npee-secondary-border;
$color-form-submit-btn-hover: $npee-secondary-hover;
$color-link: $npee-tertiary-base;

$font-family-default: $npee-font-family-default;
$font-family-headline: $npee-font-family-headline;
$font-family-thin: $npee-font-family-thin;

$hero-background-image-large: $npee-hero-background-image-large;
$hero-background-image-medium: $npee-hero-background-image-medium;
$hero-background-image-small: $npee-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;