// Set Brand Colors
// ================================== 
$brand-logo-width: $dl-brand-logo-width;
$brand-logo: $dl-brand-logo;

$color-brand-base: $dl-primary-base;
$color-form-submit-btn-base: $dl-primary-base;
$color-form-submit-btn-border: $dl-primary-border;
$color-form-submit-btn-hover: $dl-primary-hover;
$color-link: $dl-secondary-base;

$font-family-default: $dl-font-family-default;
$font-family-headline: $dl-font-family-headline;
$font-family-thin: $dl-font-family-thin;

$hero-background-image-large: $dl-hero-background-image-large;
$hero-background-image-medium: $dl-hero-background-image-medium;
$hero-background-image-small: $dl-hero-background-image-small; 

$page-heading-background-image-large: $dl-page-heading-background-image-large;
$page-heading-background-image-medium: $dl-page-heading-background-image-medium;
$page-heading-background-image-small: $dl-page-heading-background-image-small;