// Set Brand Colors
// ================================== 
$brand-logo-width: $nh360-brand-logo-width;
$brand-logo: $nh360-brand-logo;

$color-brand-base: $nh360-primary-base;
$color-form-submit-btn-base: $nh360-primary-base;
$color-form-submit-btn-border: $nh360-primary-border;
$color-form-submit-btn-hover: $nh360-primary-hover;
$color-link: $nh360-secondary-base;

$font-family-default: $nh360-font-family-default;
$font-family-headline: $nh360-font-family-headline;
$font-family-thin: $nh360-font-family-thin;

$hero-background-image-large: $nh360-hero-background-image-large;
$hero-background-image-medium: $nh360-hero-background-image-medium;
$hero-background-image-small: $nh360-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;