// Set Brand Colors
// ================================== 
$brand-logo-width: $ci-brand-logo-width;
$brand-logo: $ci-brand-logo;

$color-brand-base: $ci-primary-base;
$color-form-submit-btn-base: $ci-primary-base;
$color-form-submit-btn-border: $ci-primary-border;
$color-form-submit-btn-hover: $ci-primary-hover;
$color-link: $ci-secondary-base;

$font-family-default: $ci-font-family-default;
$font-family-headline: $ci-font-family-headline;
$font-family-thin: $ci-font-family-thin;

$hero-background-image-large: $ci-hero-background-image-large;
$hero-background-image-medium: $ci-hero-background-image-medium;
$hero-background-image-small: $ci-hero-background-image-small; 

$page-heading-background-image-large: $ci-page-heading-background-image-large;
$page-heading-background-image-medium: $ci-page-heading-background-image-medium;
$page-heading-background-image-small: $ci-page-heading-background-image-small;

