// Set Brand Colors
// ================================== 
$brand-logo-width: $eb-brand-logo-width;
$brand-logo: $eb-brand-logo;

$color-brand-base: $eb-primary-base;
$color-form-submit-btn-base: $eb-primary-base;
$color-form-submit-btn-border: $eb-primary-border;
$color-form-submit-btn-hover: $eb-primary-hover;
$color-link: $eb-secondary-base;

$font-family-default: $eb-font-family-default;
$font-family-headline: $eb-font-family-headline;
$font-family-thin: $eb-font-family-thin;

$hero-background-image-large: $eb-hero-background-image-large;
$hero-background-image-medium: $eb-hero-background-image-medium;
$hero-background-image-small: $eb-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;