// Set Brand Colors
// ================================== 
$brand-logo-width: $nxta-brand-logo-width;
$brand-logo: $nxta-brand-logo;

$color-brand-base: $nxta-primary-base;
$color-form-submit-btn-base: $nxta-primary-base;
$color-form-submit-btn-border: $nxta-primary-border;
$color-form-submit-btn-hover: $nxta-primary-hover;
$color-link: $nxta-secondary-base;

$font-family-default: $nxta-font-family-default;
$font-family-headline: $nxta-font-family-headline;
$font-family-thin: $nxta-font-family-thin;

$hero-background-image-large: $nxta-hero-background-image-large;
$hero-background-image-medium: $nxta-hero-background-image-medium;
$hero-background-image-small: $nxta-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;