// Set Brand Colors
// ================================== 
$brand-logo-width: $nxtt-brand-logo-width;
$brand-logo: $nxtt-brand-logo;

$color-brand-base: $nxtt-primary-base;
$color-form-submit-btn-base: $nxtt-primary-base;
$color-form-submit-btn-border: $nxtt-primary-border;
$color-form-submit-btn-hover: $nxtt-primary-hover;
$color-link: $nxtt-secondary-base;

$font-family-default: $nxtt-font-family-default;
$font-family-headline: $nxtt-font-family-headline;
$font-family-thin: $nxtt-font-family-thin;

$hero-background-image-large: $nxtt-hero-background-image-large;
$hero-background-image-medium: $nxtt-hero-background-image-medium;
$hero-background-image-small: $nxtt-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;