// Set Brand Colors
// ================================== 
$brand-logo-width: $nxtf-brand-logo-width;
$brand-logo: $nxtf-brand-logo;

$color-brand-base: $nxtf-primary-base;
$color-form-submit-btn-base: $nxtf-primary-base;
$color-form-submit-btn-border: $nxtf-primary-border;
$color-form-submit-btn-hover: $nxtf-primary-hover;
$color-link: $nxtf-secondary-base;

$font-family-default: $nxtf-font-family-default;
$font-family-headline: $nxtf-font-family-headline;
$font-family-thin: $nxtf-font-family-thin;

$hero-background-image-large: $nxtf-hero-background-image-large;
$hero-background-image-medium: $nxtf-hero-background-image-medium;
$hero-background-image-small: $nxtf-hero-background-image-small; 

$page-heading-background-image-large: $nxtf-page-heading-background-image-large;
$page-heading-background-image-medium: $nxtf-page-heading-background-image-medium;
$page-heading-background-image-small: $nxtf-page-heading-background-image-small;