// Set Brand Colors
// ================================== 
$brand-logo-width: $nfm-brand-logo-width;
$brand-logo: $nfm-brand-logo;

$color-brand-base: $nfm-primary-base;
$color-form-submit-btn-base: $nfm-primary-base;
$color-form-submit-btn-border: $nfm-primary-border;
$color-form-submit-btn-hover: $nfm-primary-hover;
$color-link: $nfm-secondary-base;

$font-family-default: $nfm-font-family-default;
$font-family-headline: $nfm-font-family-headline;
$font-family-thin: $nfm-font-family-thin;

$hero-background-image-large: $nfm-hero-background-image-large;
$hero-background-image-medium: $nfm-hero-background-image-medium;
$hero-background-image-small: $nfm-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;