// Set Brand Colors
// ================================== 
$brand-logo-width: $next-brand-logo-width;
$brand-logo: $next-brand-logo;

$color-brand-base: $next-primary-base;
$color-form-submit-btn-base: $next-primary-base;
$color-form-submit-btn-border: $next-primary-border;
$color-form-submit-btn-hover: $next-primary-hover;
$color-link: $next-secondary-base;

$font-family-default: $next-font-family-default;
$font-family-headline: $next-font-family-headline;
$font-family-thin: $next-font-family-thin;

$hero-background-image-large: $next-hero-background-image-large;
$hero-background-image-medium: $next-hero-background-image-medium;
$hero-background-image-small: $next-hero-background-image-small; 

$page-heading-background-image-large: $next-page-heading-background-image-large;
$page-heading-background-image-medium: $next-page-heading-background-image-medium;
$page-heading-background-image-small: $next-page-heading-background-image-small;