// Set Brand Colors
// ================================== 
$brand-logo-width: $eng-brand-logo-width;
$brand-logo: $eng-brand-logo;

$color-brand-base: $eng-primary-base;
$color-form-submit-btn-base: $eng-primary-base;
$color-form-submit-btn-border: $eng-primary-border;
$color-form-submit-btn-hover: $eng-primary-hover;
$color-link: $eng-secondary-base;

$font-family-default: $eng-font-family-default;
$font-family-headline: $eng-font-family-headline;
$font-family-thin: $eng-font-family-thin;

$hero-background-image-large: $eng-hero-background-image-large;
$hero-background-image-medium: $eng-hero-background-image-medium;
$hero-background-image-small: $eng-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;