// Set Brand Colors
// ================================== 
$brand-logo-width: $npew-brand-logo-width;
$brand-logo: $npew-brand-logo;

$color-brand-base: $npew-primary-base;
$color-form-submit-btn-base: $npew-secondary-base;
$color-form-submit-btn-border: $npew-secondary-border;
$color-form-submit-btn-hover: $npew-secondary-hover;
$color-link: $npew-tertiary-base;

$font-family-default: $npew-font-family-default;
$font-family-headline: $npew-font-family-headline;
$font-family-thin: $npew-font-family-thin;

$hero-background-image-large: $npew-hero-background-image-large;
$hero-background-image-medium: $npew-hero-background-image-medium;
$hero-background-image-small: $npew-hero-background-image-small; 

$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;