// Set Brand Colors
// ================================== 
$brand-logo-width: $nbj-brand-logo-width;
$brand-logo: $nbj-brand-logo;

$color-brand-base: $nbj-primary-base;
$color-form-submit-btn-base: $nbj-primary-base;
$color-form-submit-btn-border: $nbj-primary-border;
$color-form-submit-btn-hover: $nbj-primary-hover;
$color-link: $nbj-secondary-base;

$font-family-default: $nbj-font-family-default;
$font-family-headline: $nbj-font-family-headline;
$font-family-thin: $nbj-font-family-thin;

$hero-background-image-large: $nbj-hero-background-image-large;
$hero-background-image-medium: $nbj-hero-background-image-medium;
$hero-background-image-small: $nbj-hero-background-image-small;
 
$page-heading-background-image-large: $nh360-page-heading-background-image-large;
$page-heading-background-image-medium: $nh360-page-heading-background-image-medium;
$page-heading-background-image-small: $nh360-page-heading-background-image-small;