/* Foundation Grid Overrides
   ================================== */
.row-full-width {width: 100%;}

/* Layout
   ================================== */

body {
	background-color: #eeeeee;
	color: #444444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.25em;	
}

/* Font
   ================================== */

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

h1, h2, h3, h4, h5, h6 {color: #333333;}

#article-header h1, #article-header p {color: #ffffff;}

p {font-size: 1em;}

/* List
   ================================== */

ul, li {  
  font-size: 1em;
}

ul li {
  padding-bottom: 1em; 
}

/* Structure
   ================================== */

.block {
	background-color: #ffffff;
  border-top: 10px solid #69af3f;
	margin-bottom: 20px;
}

.content.block, .form.block {
	padding: 30px;
}

header#page-heading .row { 
  background-attachment: fixed;  /* Fixed for faux parallax */
  background-clip: border-box;
  background-origin: padding-box;  
  background-repeat: no-repeat; 
    background-color: #69af3f; 
    background-image: url("http://images.info.newhope360.com/EloquaImages/clients/NewHopeNaturalMedia/%7B4d0f1b16-00a0-4322-a50d-3d77561c2d77%7D_NH360_HDR_leafDewDrops_1920x1200.jpg");
    background-position: top left;
  }

header#page-heading .overlay{padding: 2% 0% 1% 0%; background-color: rgba(105, 175, 63, 0.8);}
  


/* Identity
   ================================== */

#identity{  
  padding: 1% 0% 0.5%;  
}

#identity img {  
  height: 50px;	
  margin: 5px 5px 5px 0px;  
}

#identity img, footer img {	opacity: 0.8;}

/* Footer
   ================================== */

footer {  
  font-size: 0.625em;
  font-weight: bold;
  line-height: 1.125em; 
}

footer a {        
  font-weight: bold;    
  text-decoration: underline; 
}

footer img {  
  height: 50px; 
  margin: 8px 5px 8px 0px;
}

footer {padding-bottom: 1%;}
footer #copyright {padding: 3% 0% 2% 0%;}