<section id="social-media">
	<div class="row content block">
		<div class="small-12 text-center columns">
			<div class="social-media">                  
     
        <a href="//twitter.com/share?url=" class="fa fa-twitter" target="_blank">Tweet <span class="share-count"></span></a>

        <a href="//www.facebook.com/sharer.php?u=" class="fa fa-facebook" target="_blank">Share <span class="share-count"></span></a> 

        <a href="//plus.google.com/share?url=" class="fa fa-google-plus" target="_blank">Share</a>

        <a href="//www.linkedin.com/shareArticle?mini=true&url=" class="fa fa-linkedin" target="_blank">Share <span class="share-count"></span></a>
          
			</div>
		</div>
	</div>
</section>