<section id="view-full-screen">
	<div class="row">
		<div class="small-12 text-center columns">			                      
      <p>On a touchscreen? <a href="" target="_parent">View in full screen mode.</a></p>          			
		</div>
	</div>
</section>
