<section id="identity">
	<div class="row">
		<div class="small-12 columns">
			
			<div class="row">

				<div id="logo" class="small-12 text-left columns">
					<a id="logo-link" href="http://www.newhope360.com"></a>
					&nbsp;
				</div>

			</div>

		</div>
	</div>
</section>