<footer>
	<div class="row">
		<div class="small-12 columns">
			
			<div class="row">

				<div class="small-12 medium-6 medium-text-left small-text-center columns">
					<a href="http://www.penton.com"><img src="http://images.info.newhope360.com/EloquaImages/clients/NewHopeNaturalMedia/{fa649af8-a6dd-479b-a16d-bf793a9133fd}_PEN_LOGO_colorPenton-2015Q1_262x100.png"></a>
				</div>

				<div id="copyright" class="small-12 medium-6 medium-text-right small-text-center columns">
					<span elqid="336" elqtype="Section" class="remove-absolute" style="display: block"><span class="copyrightNoticeText">© 2015 <a href="http://www.penton.com?elqTrack=true">Penton</a>. All Rights Reserved.</span></span>
				</div>

			</div>

		</div>
	</div>
</footer>