<!--SECTION: NAVIGATION (TOP-BAR & OFF-CANVAS PLUGIN)-->
<div class="off-canvas-wrap" data-offcanvas="">
  <div class="inner-wrap">   

    <!--OFF-CANVAS: HAMBURGER-->
    <nav class="tab-bar show-for-small-only">    
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>      
      <section class="right tab-bar-section offcanvas-site-title" style="text-align: left;">        
        Menu        
      </section>      
    </nav>

    <!--OFF-CANVAS: MENU-->
    <aside class="left-off-canvas-menu show-for-small-only">
      <ul class="off-canvas-list">
      	<li><label class="first">Menu</label></li>
        <li><a href="">Home</a></li> 
        <li><a href="">Guides</a></li>
        <li><a href="">Whitepapers</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Webinars</a></li>
      </ul>
    </aside>


    <!--OFF CANVAS: [START MAIN-SECTION]-->
    <section class="main-section">
   
   		<!--Align Top-Bar menu width to Foundation's row; outside Top-Bar-->
      <div class="contain-to-grid">

        <!--TOP-BAR: NAVIGATION (INSIDE OFF-CANVAS)-->
        <nav class="top-bar hide-for-small-only" data-topbar>
        
          <section class="top-bar-section menu">
            <!--Left: Logo-->
            <ul class="left">
              <li>
                <a href="http://www.newhope360.com">
                  <img src="http://images.info.newhope360.com/EloquaImages/clients/NewHopeNaturalMedia/{da14ce46-7401-42a8-bce2-c80bba70da07}_NH360_LOGO_whiteNHNM-2015Q1_209x100.png">
                </a>
              </li> 
            </ul>

            <!--Right: Menu-->
            <ul class="right">
              <li><a href="">Guides</a></li>
              <li><a href="">Whitepapers</a></li>
              <li><a href="">Reports</a></li>
              <li><a href="">Webinars</a></li>
            </ul>
          </section>
        </nav>

      </div>
      <!--END TOP-BAR MENU; OFF-CANVAS WRAP CONTINUES-->