---
layout: layout
---

<style type="text/css">
/* CSS Overrides */
</style>

<section id="identity">
	<div class="row">
		<div class="small-12 columns">
			
			<div class="row">

				<div class="small-12 text-left columns">
					<img src="http://images.info.newhope360.com/EloquaImages/clients/NewHopeNaturalMedia/{616cc4ee-faa6-4961-9950-dbbf1c9fb43b}_NH360_LOGO_blackNH360-2015Q1_209x100.png">
				</div>

			</div>


		</div>
	</div>
</section>

<header id="page-heading">

	
		<div class="row"><div class="overlay">
			<div class="small-12 columns">

				
				<h1>The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels</h1>

			</div>
		</div>
	</div>

</header>



<section id="content">	
	<div class="row content block">
		<div class="small-12 columns">
			
			<div class="row">

				<div class="small-12 columns">
					<article>

						<h1>
							The Hitchhiker's Guide to the Galaxy has a few things to say on the subject of towels 
						</h1>

						<p>
							People of Earth, your attention, please. As you will no doubt be aware, the <a href="">plans for development</a> of the outlying regions of the Galaxy require the building of a <b>hyperspatial express route</b> through your star system. And regrettably, your planet is one of those scheduled for demolition. The process will take slightly less than two of your Earth minutes. Thank you.
						</p>

						<p>
							The dolphin is the second most intelligent species on the planet Earth. They long ago knew of Earth's planned destruction and tried to communicate this to humans who misinterpreted it as "amusing attempts to punch football or whistle for tidbits. The last ever dolphin message was misinterpreted as a <a href="">surprisingly sophisticated attempt</a> to do a double-backwards-somersault through a hoop whilst whistling the 'Star Spangled Banner', but in fact the message was this: So long and thanks for all the fish.
						</p>

						<h2>
							So long and thanks for all the fish (h2)
						</h2>						
					
						<p>
							Not unnaturally, many elevators imbued with intelligence and precognition became terribly frustrated with the mindless business of going up and down, up and down, experimented briefly with the notion of going sideways, as a sort of existential protest, demanded participation in the decision-making process and finally took to squatting in basements sulking.  
						</p>
				
						<h3>
							An elevator that's afraid of heights  (h3) 
						</h3>						
								
						<p>
							Not unnaturally, many elevators imbued with intelligence and precognition became terribly frustrated with the mindless business of going up and down, up and down, experimented briefly with the notion of going sideways, as a sort of existential protest, demanded participation in the decision-making process and finally took to squatting in basements sulking.  
						</p>					

						<h4>
							Ford You're Turning into a Penguin  (h4) 
						</h4>						
							
						<p>
							Not unnaturally, many elevators imbued with intelligence and precognition became terribly frustrated with the mindless business of going up and down, up and down, experimented briefly with the notion of going sideways, as a sort of existential protest, demanded participation in the decision-making process and finally took to squatting in basements sulking.  
						</p>

						<b>A towel has immense psychological value (b)</b>
        		<ul>
          
	            <li>
	              Use it to sail a mini raft down the slow heavy river Moth    
	            </li>
	            
	            <li>
	              Wave your towel in emergencies as a distress signal
	            </li>           

	            <li>
	              Sleep under it beneath the stars which shine so redly on the desert world of Kakrafoon 
	            </li>

	            <li>
	              For some reason, if a strag discovers that a hitchhiker has his towel with him, he will automatically assume that he is also in possession of a toothbrush, washcloth, soap, tin of biscuits, flask, compass, map, ball of string, gnat spray, wet-weather gear, space suit etc.
	            </li>
          
        		</ul>   

					</article>

				</div>

			</div>

			<div class="row">
				<div class="small-12 columns">

					Social Media stuff goes here

				</div>
			</div>

		</div>
	</div>
</section>

<section id="eloqua-form">
	<div class="row form block">
		<div class="small-12 columns">
			
			<div class="row">

				<div class="small-12 medium-10 large-7 medium-centered columns">

					<%= partial "form_fieldmerge_nh360" %> 

				</div>

			</div>

		</div>
	</div>
</section>

<footer>
	<div class="row">
		<div class="small-12 columns">
			
			<div class="row">

				<div class="small-12 medium-6 medium-text-left small-text-center columns">
					<img src="http://images.info.newhope360.com/EloquaImages/clients/NewHopeNaturalMedia/{4bffe4b3-7ace-422d-848f-abcd6ad8c340}_PEN_LOGO_blackPenton-2015Q1_262x100.png">
				</div>

				<div id="copyright" class="small-12 medium-6 medium-text-right small-text-center columns">
					<span elqid="336" elqtype="Section" class="remove-absolute" style="display: block"><span class="copyrightNoticeText">© 2015 <a href="http://www.penton.com?elqTrack=true">Penton</a>. All Rights Reserved.</span></span>
				</div>

			</div>


		</div>
	</div>
</footer>