---
layout: layout_nhnm_npc
---


<!--START ELOQUA FORM CODE-->  
<form method="post" name="submgmt" action="https://s2130.t.eloqua.com/e/f2" id="submgmt" class="npc">
    <input value="2015Q2_NPC_CI" type="hidden" name="elqFormName">
    <input value="2130" type="hidden" name="elqSiteId">
    <input name="elqCampaignId" type="hidden">

<!--Hidden Email Address field-->
<input id="fieldID_emailAddress" type="hidden" name="emailAddress" value="<eloqua type='emailfield' syntax='EmailAddress' />">

<h2>Weekly</h2>

	<label class="checkbox npc">
	  <input id="fieldID_CI_newsbeat" name="CI_newsbeat" type="checkbox" value="on">
	  <h4>Newsbeat</h4>
	</label>

	<p>
		Breaking news, people on the move, mergers and acquisitions, supplier news, industry trends and more.
	</p>


<h2>Monthly</h2>

  <label class="checkbox npc">
    <input id="fieldID_CI_resourcebeat" name="CI_resourcebeat" type="checkbox" value="on">
    <h4>Resourcebeat</h4> 
  </label>

  <p>
    Industry insight on software, equipment, group exercise, and certification.
  </p>



<h2>Unsubscribe from all Club Industry newsletters</h2>

  <label class="checkbox npc">
    <input name="unsubscribeAll" type="checkbox" value="on">
    <h4>Unsubscribe</h4> 
  </label>

  <p>
    You may renew your subscription at any time by checking the newsletter name(s) above.
  </p>



<!--SUBMIT BUTTON-->       
  <div class="row">
    <div class="small-12 small-text-center columns">    
      <input name="submgmt" type="submit" value="Update Preferences">
    </div>
  </div>

<!--LEGAL STATEMENT-->        
  <div class="row">
    <div class="small-12 columns">  
  
      <div id="privacy-statement"><h4>Terms of Service</h4></div>
  
    </div>
  </div>
  
</form>
<!--END ELOQUA FORM CODE-->  
