---
layout: layout_nhnm_npc
---


<!--START ELOQUA FORM CODE-->  
<form method="post" name="submgmt" action="https://s2130.t.eloqua.com/e/f2" id="submgmt" class="npc">
    <input value="2015Q2_NPC_NH360" type="hidden" name="elqFormName">
    <input value="2130" type="hidden" name="elqSiteId">
    <input name="elqCampaignId" type="hidden">

<!--Hidden Email Address field-->
<input id="fieldID_emailAddress" type="hidden" name="emailAddress" value="<eloqua type='emailfield' syntax='EmailAddress' />">



  <label class="checkbox npc">
    <input id="fieldID_DL_deliciousLivingeNewsletter" name="DL_deliciousLivingeNewsletter" type="checkbox" value="on">
    <h4>Delicious Living e-Newsletter</h4> 
  </label>

  <p>
    Great-tasting healthy recipes, top supplements, natural beauty, everyday nutrition, and more.
  </p>


  <label class="checkbox npc">
    <input id="fieldID_ENG_IngredientsWeekly_Newsletter" name="ENG_IngredientsWeekly_Newsletter" type="checkbox" value="on">
    <h4>Natural Ingredients Weekly</h4> 
  </label>

  <p>
    Top stories from the latest issue and science, business trends and ingredient news. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_ENG_InnovationToday_Newsletter" name="ENG_InnovationToday_Newsletter" type="checkbox" value="on">
    <h4>Natural Innovation Today</h4> 
  </label>

  <p>
    Real-time competitive intelligence and industry news to your inbox five days a week. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_NBJ_Weekly_Newsletter" name="NBJ_Weekly_Newsletter" type="checkbox" value="on">
    <h4>NBJ Weekly</h4> 
  </label>

  <p>
    Delivering news and analysis, trends, intelligence and commentary to nutrition industry professionals. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_NFM_ProductsWeekly_Newsletter" name="NFM_ProductsWeekly_Newsletter" type="checkbox" value="on">
    <h4>Natural Products Weekly</h4> 
  </label>

  <p>
    Most recent new products entering the natural products and organics marketplace. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_NFM_RetailToday_Newsletter" name="NFM_RetailToday_Newsletter" type="checkbox" value="on">
    <h4>Natural Retail Today</h4> 
  </label>

  <p>
    Bringing you important industry news and analysis including updates on Natural Products Expo. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_NH360_BuzzToday_Newsletter" name="NH360_BuzzToday_Newsletter" type="checkbox" value="on">
    <h4>Natural Buzz Today</h4> 
  </label>

  <p>
    All the knowledge you need for suppliers, manufacturers and retailers of natural, organic and healthy products. 
  </p>

  <label class="checkbox npc">
    <input id="fieldID_NXTA_EntreWeekly_Newsletter" name="NXTA_EntreWeekly_Newsletter" type="checkbox" value="on">
    <h4>Natural Entrepreneur Weekly</h4> 
  </label>

  <p>
    Weekly dose of expert insights, industry resources and communal inspiration to help natural products entrepreneurs thrive 
  </p>





<h2>Unsubscribe from all New Hope newsletters</h2>

  <label class="checkbox npc">
    <input name="unsubscribeAll" type="checkbox" value="on">
    <h4>Unsubscribe</h4> 
  </label>

  <p>
    You may renew your subscription at any time by checking the newsletter name(s) above.
  </p>



<!--SUBMIT BUTTON-->       
  <div class="row">
    <div class="small-12 small-text-center columns">    
      <input name="submgmt" type="submit" value="Update Preferences">
    </div>
  </div>

<!--LEGAL STATEMENT-->        
  <div class="row">
    <div class="small-12 columns">  
  
      <div id="privacy-statement"><h4>Terms of Service</h4></div>
  
    </div>
  </div>
  
</form>
<!--END ELOQUA FORM CODE-->  
